[submodule "client"]
	path = client
	url = git@github.com:dalila-mlp/client
    branch = main
[submodule "api"]
	path = api
	url = git@github.com:dalila-mlp/api
    branch = main
[submodule "models-api"]
	path = models-api
	url = git@github.com:dalila-mlp/models-api.git
[submodule "llm-api"]
	path = llm-api
	url = git@github.com:dalila-mlp/llm-api
